extends layout.pug

block content
	section(class="section")
		div(class="container")
			h1(class="title is-3") 😖 Sorry, something went wrong.

			div(class="is-size-5 narrow")
				p Invalid parameters were provided to the processing script.

				p
					pre #{query}

				p The recorded error was:

				p
					pre #{error}

				p This error has been logged.  Please close this window and try again with different selection criteria.

