@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700&subset=latin-ext');

html, body {
	font-family: 'Cardo';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans';
}

p {
	max-width: 50rem;
}

p + p {
	margin-top: 2rem;
}

nav div.container {
	border-bottom: 1px solid #aaa;
}

.button.is-primary {
	color: #333;
	background-color: #D6E6ED;
}
.button.is-primary:hover {
	color: white;
	background-color: #4C6C71;
}

/* A couple places to clip away the extra stuff so the main results page just shows the pretty pictures. */
img.forecast-output {
	width: 750px;
	height: 750px;
	object-fit: cover;
	object-position: -40px top;
}

tbody tr td img {
	width: 300px;
	height: 250px;
	object-fit: cover;
	object-position: -18px top;
}

img.clip {
	width: 400px;
	height: 325px;
	object-fit: cover;
	object-position: -25px top;
}

table {
	margin-top: 2rem;
}

table.analogs tr th[scope="row"] {
	vertical-align: middle;
	font-weight: 900;
	font-size: 120%;
}